* {
	box-sizing: border-box;
}

.head {
	background-color: black;
	height: 50px;
	width: 100%;
	position: fixed;
	margin: 0px;
	top:0;
	left: 0;
}

ul {
  left:50%;
  margin-left: 25%;
}

li {
	display: inline-block;
	list-style: none;
	float: left;
	padding: 0px 20px;
}

a {
	color: white;
}

.text {
	margin-top: 60px;
	text-align: justify;
}