* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.content {
	min-height: 100vh;
	text-align: center;
	width: 100%;
	display: table;
}
.content-header {
	display: table-cell;
	vertical-align: middle;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 70px;
	font-weight: 500;
	color: white;
	cursor: default;
}